/* Took this from https://web.dev/articles/control-focus-with-tabindex */
.author-legend-item:focus-visible {
  outline: 4px dashed darkorange;
}

.legend-item:focus-visible {
  outline: 4px dashed darkorange;
}

.tooltip {
    opacity: 0;
    position: absolute;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 5px;
    pointer-events: none;
    font-family: sans-serif;
    font-weight: lighter;
}

.control {
    margin-bottom: 5px;
}

html{
  background-color: #fcfcfc;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #292826;
}

header, .footer{
  padding: 0.25rem;
}

header {
    margin: 0.5rem 0 0.75rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-gap: 0.75rem;
    gap: 0.75rem;
    align-items: center;
}

header p{
  margin: 0;
}

.title {
  margin: 0;
  font-size: 26px;
  font-weight: lighter;
}

.wrapper {
    max-width: 60%;
}

#x-axis {
  font-family: sans-serif;
  text-anchor: middle;
  font-weight: lighter;
}

#y-axis {
  font-family: sans-serif;
  text-anchor: end;
  font-weight: lighter;
}

#graph-title {
  margin: 0;
  font-weight: lighter;
  text-anchor: middle;
}

#info {
    margin: 0 1rem;
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: left;
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 120%;
}

#legendGroup {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
}

.legends fieldset span {
    margin-right: 15px;
}